/* Reseteo universal para quitar márgenes por defecto del navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Forzar que el HTML, el Body y el contenedor principal de React ocupen toda la pantalla */
html, body, #root {
  width: 100%;
  min-height: 100vh;
  background-color: #121212; /* El mismo fondo oscuro de AudioMax */
}